

<form method="post" action="/Calculator/Add">

	<input type="text" name="number1" value="@ViewBag.Number1" />
	<input type="text" name="number2" value="@ViewBag.Number2" />

	<input type="submit" value="Add" />

</form>

<p>Result: @ViewBag.MyResult</p>