@page "/products/createproduct"


@inject IProductService ProductService
@inject NavigationManager NavigationManager

@if (message != null)
{
    <p><em>@message</em></p>
}
else
{
    <ProductForm product="product" OnValidSubmit="HandleValidSubmit"></ProductForm>
}

@code{
    private Product product = new Product();
    private string? message= null;


    private async Task HandleValidSubmit()
    {
        var response = await ProductService.CreateProductAsync(product);

        if (response.Success)
            NavigationManager.NavigateTo("/products/productsList");
        else
            message = response.Message;
    }
}