@page
@model P08ShopWebApp.Client.Pages.ProductsListModel
@{
}


<table>

	@foreach (var item in Model.Products)
	{
		<tr>
			<td>@item.Title</td>
			<td>@item.Description</td>
			<td>@Html.DisplayFor(x=>item.Price)</td>
		</tr>
	}

</table>