@model OperationModel

<form method="post">

	<input type="text" name="number1" value="@Model.Number1" />
	<input type="text" name="number2" value="@Model.Number2" />

	<input type="submit" value="Add" />

</form>

<p>Result: @Model.Result</p>